@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kaushan Script", cursive;
  word-spacing: 5px;
  font-size: 1rem;
  font-weight: bold;
}
body {
  background-color: #446392;
}
.App {
  height: 100vh;
}
.main-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: #ffffff;
  height: 300px;
  width: 700px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 10px 10px 20px 5px #888888;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}
.quote {
  position: absolute;
  top: 45%;
  left: 28%;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;

  /* border: 1px solid red; */
}
.flex {
  color: #393a4c;
  font-size: 1.2rem;
}
.btn {
  position: absolute;
  top: 30%;
  left: 45%;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
.center {
  position: absolute;
  top: 40%;
  left: 50%;
  /* max-width: 600px; */
  /* width: 100%; */
  margin: 0 auto;
}
button {
  padding: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #294266;
  /* box-shadow: 0px 8px 15px rgba(56, 40, 40, 0.1); */
}
button:hover {
  background-color: #9899a3;
}
.heading {
  position: absolute;
  top: 10%;
  /* color: white; */
  font-size: 2rem;
  /* border: 1px solid red; */
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 1rem;
    margin: 1rem;
  }
  .btn {
    font-size: 1rem;
    position: absolute;
    top: 35%;
    left: 35%;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
  .quote {
    position: absolute;
    top: 45%;
    left: 2%;
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
}
